@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
:root {
  --main-color: #4edcec;
  --main-darker: #32a3b0;
  --devsite-secondary-text-color: #5f6368;
  --devsite-primary-text-color: #202124;
}

* {
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: var(--devsite-primary-text-color);
}
.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 800px;
  margin: 0 auto;
  border-bottom: 2px solid #f2f2f2;
}
.navbar h1 {
  color: var(--main-color);
}
.navbar .links {
  margin-left: auto;
}
.navbar a {
  margin-left: 20px;
  text-decoration: none;
  padding: 6px;
}
.navbar a:hover {
  color: var(--main-color);
}
.content {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
}

#loginbutton {
  background-color: var(--main-color);
  border-radius: 8px;
  color: white;
  padding: 5px 15px;
  margin-left: 200px auto;
}

#loginbutton:hover {
  background-color: var(--main-darker);
}

.button {
  margin-top: 10px;
  text-decoration: none;
  background-color: var(--main-color);
  color: white;
  padding: 10px 20px;
  border-radius: 10px;
  border: none;
}

.button:hover {
  background-color: var(--main-darker);
}

.note-list {
  width: 300px;
  height: max-content;
  position: relative;
}

.note {
  border-bottom: 1px solid #f2f2f2;
}

.note h3{
  color: var(--devsite-primary-text-color);
  padding-top: 10px;
  padding-left: 10px;
  height: fit-content;
  max-width: 200px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: 400;
}

.note h4{
  color: var(--devsite-secondary-text-color);
  padding: 20px 20px 10px;
  font-weight: 400;
  text-decoration: none;
}

.note a {
  text-decoration: none;
  position: absolute;
}
.note a div {
  color: var(--devsite-secondary-text-color);
}
.note:hover {
  box-shadow: 1px 2px 5px black;
}

.note-top {
  display: flex;
}

.note-top a {
  display: flex;
  right: 0;
  padding-right: 10px;
  padding-top: 10px;
}

.note-list-title {
  display: flex;
  position: relative;
  width: 350px;
  margin-bottom: 10px;
}

.note-list-title a {
  position: absolute;
  right: 0;
  top: 13px;
  display: flex;
  text-decoration: none;
}

.note-list-title h3 {
  padding-top: 10px;
  padding-bottom: 20px;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24;
  cursor: pointer;
}